

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: center url("../public/ubntu.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

input {
  caret-color: rgb(152, 226, 152); /* Hide the caret */
}

/* Works on Firefox */
* {
  scrollbar-width: none;
}

