.container{
  padding: 10px 5px;
  opacity: 99;
}

@media (max-width: 991px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .container{
    padding: 10px 0px;
  }
}

@media (max-width: 414px) {

}

@media (max-width: 360px) {

}

